<template>
  <div>
    <b-nav tabs align="center">
      <b-nav-item disabled><b>Christian's Quiz App</b></b-nav-item>
      <b-nav-item disabled
        >Score: {{ numCorrect }} correct answers out of <!-- Displays score -->
        {{ numTotal }}</b-nav-item
      >
    </b-nav>
  </div>
</template>

<script>
export default {
  props: ["numCorrect", "numTotal"],
};
</script>