<!--href value is a little bit "conditional", the code now requires that 8081 is used, 
surely there is a better solution to this -->
<template>
  <div id="app">
    <button @click="next" variant="danger" href="http://localhost:8081/">
      <router-link to="/">Home</router-link>
    </button>
    <h1>Welcome to my Trivia Game</h1>
    <h2>This quiz will test your history knowledge</h2>
    <h3>Choose a diffulty setting</h3>
    <div id="nav">
      <button @click="next" variant="danger" href="http://localhost:8081/easy">
        <router-link to="easy">Easy</router-link>
      </button>
      <button
        @click="next"
        variant="danger"
        href="http://localhost:8081/medium"
      >
        <router-link to="medium">Medium</router-link>
      </button>
      <button @click="next" variant="danger" href="http://localhost:8081/hard/">
        <router-link to="hard">Hard</router-link>
      </button>
      <router-view />
    </div>
  </div>
</template>

<script>
// script for displaying score, incrementing, isCorrect validation
export default {
  name: "App",
  data() {
    return {
      questions: [],
      index: 0,
      numCorrect: 0,
      numTotal: 0,
    };
  },
  methods: {
    next() {
      this.index++;
    },
    increment(isCorrect) {
      if (isCorrect) {
        this.numCorrect++;
      }
      this.numTotal++;
    },
  },
};
</script>